/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: $mobile-width;
  @include txt-Lato(14px, 18px);
  @include color ($grey-dark, $white);
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
