/* здесь используйте глобальные mixin */
@mixin txt-Lato ($txt-size, $txt-height) {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: $txt-size;
  line-height: $txt-height;
}

@mixin txt-Oswald ($txt-size, $txt-height) {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: $txt-size;
  line-height: $txt-height;
}

@mixin color ($color, $clr-bg) {
  color: $color;
  background-color: $clr-bg;
}

@mixin button ($indents) {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  outline: none;
  margin: 0;
  padding: $indents;
  cursor: pointer;
}

@mixin element ($width, $height) {
  content: "";
  display: block;
  position: relative;
  width: $width;
  height: $height;
  margin: 0;
}