/* здесь используйте глобальные переменные */

/* цвет */
$white: #ffffff;
$black: #000000;
$green-basic: #68b738;
$green-second:#5eaa2f;
$grey-basic: #f2f2f2;
$grey-second: #ebebeb;
$grey-special: #cdcdcd;
$grey-special-2: #e6e6e6;
$grey-bg: #eaeaea;
$grey-dark: #444444;
$grey-dark-2: #222222;
$grey-dark-3: #111111;

/* адаптив */
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
