/* здесь используйте глобальные переменные */
$white: #ffffff;

$black: #000000;

$green-basic: #68b738;

$green-second:#5eaa2f;

$grey-basic: #f2f2f2;

$grey-second: #ebebeb;

$grey-dark: #444444;

$grey-dark-2: #222222;
