/* GLOBAL */
@import "./common/fonts.scss";
@import "./common/variables.scss";
@import "./common/mixin.scss";
@import "./common/global.scss";
@import "./common/text.scss";
@import "./common/button.scss";

/* BLOCKS */
@import "./blocks/list-block.scss";
@import "./blocks/item-mix.scss";
@import "./blocks/item-card.scss";
@import "./blocks/item-social.scss";
@import "./blocks/header.scss";
@import "./blocks/footer.scss";
@import "./blocks/info.scss";
@import "./blocks/htmlacademy.scss";
@import "./blocks/nutrition.scss";
@import "./blocks/options.scss";
@import "./blocks/additional.scss";
@import "./blocks/position.scss";
@import "./blocks/promotions.scss";
@import "./blocks/program.scss";