.additional__heading {
  @include txt-Oswald(24px, 24px);
  @include color ($black, $white);
  display: block;
  position: relative;
  width: fit-content;
  margin: 0;
  padding: 25px 40px 36px 0;

  @media (min-width: $tablet-width) {
    @include txt-Oswald(32px, 32px);
    min-width: 300px;
    text-align: left;
    margin-right: auto;
    padding: 74px 40px 80px;
  }

  @media (min-width: $desktop-width) {
    @include txt-Oswald(40px, 40px);
    margin-left: -40px;
    padding: 70px 40px 80px;
  }
}

.additional__heading::before {
  @include element($tablet-width, 2px);
  background-color: $green-basic;
  position: absolute;
  left: -100%;
  top: 40px;
  z-index: -1;

  @media (min-width: $tablet-width) {
    width: $desktop-width;
    top: 90px;
  }

  @media (min-width: $desktop-width) {
    width: 4000px;
  }
}

.additional__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 896px 245px;
    gap: 80px;
  }
}
