.bg-cat::before {
  @media (min-width: $desktop-width) {
    @include element (50vw, 694px);
    @include image (url("../../images/index/bg-desktop@1x.jpg"), auto 694px, $green-second);
    position: absolute;
    right: 0;
    top: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/index/bg-desktop@2x.jpg");
    }
  }
}
