.bg-cat::before {
  @include element(100%, 302px);
  @include image (url("../../images/index/bg-mobile@1x.jpg"), cover, $green-second);
  position: absolute;
  z-index: -1;
  top: 65px;

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/index/bg-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-color: transparent;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    @include element (72%, 694px);
    @include image (url("../../images/index/bg-desktop@1x.jpg"), cover, $green-second);
    position: absolute;
    left: 50%;
    top: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/index/bg-desktop@2x.jpg");
    }
  }
}
