.example {
  background-color: $grey-bg;
  padding-top: 20px;
  padding-bottom: 45px;
}

.example__heading {
  @include txt-Oswald(36px, 36px);
  color: $black;
  margin: 0;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 146px;
  }
}

.example__text {
  margin: 0;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 70px;
  }
}


