.header {
  position: relative;
  width: $mobile-width;
  height: 65px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    @include flex-block (row, space-between, center);
    min-height: 100px;
    width: $tablet-width;
    padding: 25px 30px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 54px 110px 30px;
  }
}

.header__icon {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    @include flex-block (row, flex-start, center);
  }
}

.header__navigation {
  position: absolute;
  width: 100%;
  padding-top: 10px;
  z-index: 10;
  background-color: $white;
  border-bottom: 1px solid $grey-special-2;

  @media (min-width: $tablet-width) {
    position: static;
    border: none;
    width: 436px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 476px;
    background-color: transparent;
  }
}
