.linK-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  padding-top: 20px;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 250px;
    grid-template-rows: repeat(3, auto);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 170px;
  }
}

.linK-card__picture {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  @media (min-width: $tablet-width) {
    grid-row: 1 / 2;
  }

  @media (min-width: $desktop-width) {

  }
}

.linK-card__heading {
  @include txt-Oswald(16px, 20px);
  color: $grey-dark-2;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    @include txt-Oswald(20px, 24px);
  }

  @media (min-width: $desktop-width) {

  }
}

.linK-card__text {
  @include txt-Lato(12px, 16px);
  @include color ($grey-dark, $white);
  margin: 0;
  padding: 0;


  @media (min-width: $tablet-width) {
    @include txt-Lato(16px, 20px);
  }

  @media (min-width: $desktop-width) {

  }
}
