.link {
  @include flex-block (column, flex-start, center);
  padding: 40px 20px;
  gap: 40px;
  background-color: $grey-basic;

  @media (min-width: $tablet-width) {
    @include flex-block (row, space-between, center);
    padding: 55px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 110px;
  }
}

.link__cat-energy {
  color: $grey-dark-3;

  &:hover {
    color: #3e3e3e;
  }

  &:active {
    color: #6b6b6b;
  }
}


.link__htmlacademy {
  @include flex-block (row, space-between, center);
  width: 280px;
  color: #666666;

  &:hover {
    color: $green-basic;
  }

  &:active {
    color: $green-basic;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 168px;
  }
}
