.menu__block {
  @media (min-width: $tablet-width) {
    @include flex-block (row, flex-start, center);
    gap: 33px;
  }
}

.menu--close {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.menu--open {
  display: block;
}
