.programs {
  @include flex-block (column, flex-start, flex-start);
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
    padding-top: 0;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
    padding-top: 82px;
    padding-bottom: 70px;
  }
}
